@page "/counter"

<h1>Counter</h1>
<strong>hello @value</strong>
<br />
<input placeholder="Enter your text" @onchange="@onChange" />
<br />
<p>Current count: @currentCount</p>



<div class="card" style="width:20%;padding:10px">
<p>Increment Amount : @IncrementAmount</p>
<h4>Highest score : @Highestscore</h4>
<button class="btn btn-success" @onclick="Increment">Increase</button>
    <br />
<button class="btn btn-danger" @onclick="Decrement">Decrease</button>
    </div>
<br />
<button class="btn btn-primary" @onclick="IncrementCount">Counter</button>

<button class="btn btn-primary" @onclick="MakeZero">Reset</button>

@code {
    private int currentCount = 0;
    private int IncrementAmount = 0;
    private int Highestscore = 0;
    private string value { get; set; }
    private void onChange(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        value = (string)args.Value;
    }

    private void IncrementCount()
    {
        currentCount+=IncrementAmount;
        if(Highestscore < currentCount)
        {
            Highestscore = currentCount;
        }
        
    }
    
    private void MakeZero()
    {
        currentCount = 0;
    }

    private void Increment()
    {
        if(IncrementAmount < 20)
        {
            IncrementAmount++;
        }
    }

    private void Decrement()
    {
        if(IncrementAmount > 1)
        {
            IncrementAmount--;
        }
    }
}